@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

img:nth-child(4), img:nth-child(2) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:nth-child(4), img:nth-child(2) {
    display: inline-block;
  }

  img {
    display: inline-block;
    width: 49%;
  }

  img:first-child, img:nth-child(2) {
    display: inline;
  }

}

@media only screen and (min-width: 38em) {

  img:nth-child(4), img:nth-child(2) {
    display: inline-block;
  }

  img:first-child {
    display: none;
  }

  img {
    display: inline-block;
    width: 32%;
  }

}

@media only screen and (min-width: 60em) {

  img:first-child {
    display: inline-block;
  }

  body {
    display: inline-block;
    text-align: center;
  }

  img {
    width: 24%;
    align-items: center;
  }

}
