@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

@media only screen and (min-width: 25em) {

  body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  img {
    width: 50%;
    padding: .1em;
  }

}

@media only screen and (min-width: 38em) {

  body {
    display: flex;
    flex-wrap: wrap;
  }

  img:last-child, img:nth-child(2) {
    display: inline-block;
  }

  img:first-child {
    display: none;
  }

  img {
    display: inline-block;
    width: 33.3333%;
  }

}

@media only screen and (min-width: 60em) {

  img:first-child {
    display: flex;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  img {
    width: 25%;
    padding: .1em;
  }

}
